<ul class="layui-nav layui-nav-tree" lay-filter="adminMenu">
    <li class="layui-nav-item"><a href="/admin"><i class="layui-icon layui-icon-home"></i>仪表盘</a></li>
    <li class="layui-nav-item"><a href="/admin/users"><i class="layui-icon layui-icon-group"></i>用户管理</a></li>
    <li class="layui-nav-item"><a href="/admin/roles"><i class="layui-icon layui-icon-user"></i>角色管理</a></li>
    <li class="layui-nav-item"><a href="/admin/functions"><i class="layui-icon layui-icon-app"></i>功能管理</a></li>
    <li class="layui-nav-item"><a href="/admin/menus"><i class="layui-icon layui-icon-menu-fill"></i>菜单管理</a></li>
    <li class="admin-nav-section">数据瞭望子系统</li>
    <li class="layui-nav-item"><a href="/admin/observatory"><i class="layui-icon layui-icon-search"></i>瞭望采集</a></li>
    <li class="layui-nav-item"><a href="/admin/sources"><i class="layui-icon layui-icon-link"></i>瞭源管理</a></li>
    <li class="layui-nav-item"><a href="/admin/warehouse"><i class="layui-icon layui-icon-table"></i>数据仓库</a></li>
    <li class="admin-nav-section">模型引擎子系统</li>
    <li class="layui-nav-item"><a href="/admin/model-engine"><i class="layui-icon layui-icon-engine"></i>模型引擎</a></li>
    <li class="admin-nav-section">数字化工具子系统</li>
    <li class="layui-nav-item"><a href="/admin/digital-employees"><i class="layui-icon layui-icon-face-smile"></i>数字员工</a></li>
</ul>
